// About Area
.site-main{
    .about-area{
        padding: 8rem 5rem;
        
        .app{
            span{
                    display: block;
                    font: normal bold 3rem $poppins;
                    letter-spacing: 15px;
            }
        }
        .paragraph {
            .para{
                padding: 0.5rem 0;
            }
        }
        .img-fluid{
            margin: 50px 0;
            }
        
    }
}