// Navigation
.header_area  {
    .main-menu {
        .navbar .navbar-brand{
            padding: 0 2rem 0 3rem;
        }
        .navbar {
            padding: 1rem 10rem;
        }
        .nav-item .nav-link {
            font-family: $poppins;
            text-transform: uppercase;
            font-weight: 700;
            padding: 1.7rem;
            color: $title-color;
        }
        .navbar-nav {
            .active a {
            background: $gradient-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            }

            a{
                &:hover  {
                    background: $gradient-color;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
  
        }
    }    
}